<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focuspoint.translator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/translator_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <activity
            android:name=".screen.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.activity.SourceLanguageActivity"
            android:label="@string/title_activity_language"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screen.activity.TargetLanguageActivity"
            android:label="@string/title_activity_target_language"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>